version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/issue-with-distroless/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/issue-with-distroless/"
    schedule:
      interval: "weekly"