version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/issue-with-distroless/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/no-issue-with-distroless/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/issue-with-dotnet/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"