version: 2
registries:
  ghcr:
    type: docker-registry
    url: ghcr.io
    username: ${{ github.actor }}
    password: ${{ secrets.PAT_GITHUB_TOKEN }}
updates:
  - package-ecosystem: "docker"
    directory: "/issue-with-distroless/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/no-issue-with-distroless/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/issue-with-dotnet/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/no-issue-with-distroless-private/"
    schedule:
      interval: "weekly"
    registries:
    - ghcr
    groups:
      ci:
        patterns:
          - "*"