version: 2
registries:
  dhi:
    type: docker-registry
    url: dhi.io
    username: ${{ secrets.DOCKER_HUB_USERNAME }}
    password: ${{ secrets.DOCKER_HUB_TOKEN }}
updates:
  - package-ecosystem: "docker"
    directory: "/dhi-different-image/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/dhi-node-digest-suffix/"
    schedule:
      interval: "weekly"
    registries:
    - dhi
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/dhi-node-tag-suffix/"
    schedule:
      interval: "weekly"
    registries:
    - dhi
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/distroless-different-image/"
    schedule:
      interval: "weekly"
    registries:
    - ghcr
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/dotnet/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"