name: Manual Sync
on:
  workflow_dispatch:  # Allow manual triggers
jobs:
  regsync:
    strategy:
      matrix:
        image:
          - dhi.io/static:20250911-alpine3.22
          - dhi.io/golang:1.25-alpine
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Install regctl
        uses: regclient/actions/regctl-installer@main
      - name: Run regctl
        run: |
          regctl image copy \
            "docker.io/demonstrationorg/${{ matrix.image }}:${{ matrix.image }}" \
            "ghcr.io/mathieu-benoit/${{ matrix.image }}:${{ matrix.image }}" \
            --force-recursive